.content-wrapper-red{
    color: red;
}

.content-wrapper-blue{
    color: blue;
}

@import 'antd-mobile@2/dist/antd-mobile.min.css';

.sticky-list .sticky-container .am-list-item { padding-left: 0; }
.sticky-list .sticky-container .am-list-line { padding-right: 0; }
.sticky-list .sticky-container .am-list-line .am-list-content { padding-top: 0; padding-bottom: 0; }
.sticky-list .sticky-container .sticky { padding: 7px 15px; transform: none; }